@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu-Regular'),
  url('../font/Ubuntu-Regular.woff2') format('woff2'),
  url('../font/Ubuntu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'),
  url('../font/OpenSans-Light.woff2') format('woff2'),
  url('../font/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}