$base-font-size: 16px;
$content-size: 1200px;
$font-family: 'Montserrat', Arial, sans-serif;

/* Colors */
$color-blue-light: #719DD6;
$color-blue-regular: #305698;
$color-blue-medium: #2B4378;
$color-blue-dark: #0E3565;
$color-dark: #1F2A38;
$color-white: #FFFFFF;