* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $base-font-size;
}

body {
  height: 100%;
  font-family: $font-family;
  background: $color-dark;
  color: $color-white;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;

  &.service-page {
    background: url("../img/service-ellipse.svg") right bottom no-repeat;
    background-size: contain;
  }
}

.main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: red;
  text-decoration: none;
  transition: 0.15s ease-out;

  &:hover {
    color: #23233C;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 80px 0;

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.875rem;
  margin: 0;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background: $color-blue-dark;
  color: #ffffff;
  border: 0;
  border-radius: 8px;
  padding: 14px 23px;
  transition: 0.15s ease-out;

  &:hover {
    background: darken($color-blue-dark, 10);
  }

  &_transparent {
    background: transparent;
    border: 2px solid $color-blue-light;
    color: $color-blue-light;

    &:hover {
      background: $color-blue-light;
      color: $color-white;
    }
  }

  &_start {
    background: $color-blue-regular;
    border-radius: 6px;
    box-shadow: 8px 8px 24px #305698;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 24px 88px;

    &:hover {
      background: #1E4485;
      text-decoration: none;
      color: $color-white;
    }
  }

  &_create {
    background: #12151A;
    font-weight: 700;
    padding: 24px;
    box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.15);

    &:hover {
      background: $color-blue-dark;
    }
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.text-blue-light {
  color: $color-blue-light;
}