.header {
  position: relative;
  width: 100%;
  top: 0;
  min-height: 0;
  z-index: 99;
  transition: min-height 0.2s ease-in-out, background-color 0.2s ease-in-out;

  @media (max-width: 991.98px) {
    .navbar-nav {
      min-height: calc(100vh - 59px);
      opacity: 0;
      visibility: hidden;
      transition: 0.2s ease-in-out;
      align-items: center;
      justify-content: center;
    }

    .nav-item {
      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }

    .nav-link {
      padding-top: 0;
      font-size: 20px;
      font-weight: 700!important;
      line-height: 24px!important;
      color: $color-white!important;

      &.active {
        color: $color-blue-light!important;
      }
    }
  }

  &.sticky {
    position: fixed;
    background: $color-dark;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);

    @include media-breakpoint-down(sx) {
      box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    }

    .logo {
      svg {
        max-width: 120px;
      }
    }

    .container {
      align-items: center!important;
    }

    .navbar-expand-lg .navbar-collapse {
      margin-top: -4px;
    }
  }

  &.mobile-open {
    min-height: 100vh;
    background-color: #12151A;

    .navbar-nav {
      min-height: calc(100vh - 59px);
      opacity: 1;
      visibility: visible;
      overflow-y: auto;
    }
  }

  .navbar-expand-lg .navbar-collapse {
    transition: 0.2s ease-in-out;
    //margin-top: 23px;
  }

  .logo {
    svg {
      max-width: 100%;
      transition: 0.2s ease-in-out;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 15px;
    }
  }
}