.hero {
  position: relative;
  background: url("../img/hero-bg.png") right bottom no-repeat;
  background-size: 1115px 382px;

  @include media-breakpoint-down(sm) {
    background-position: 0 100px;
  }

  &__content {
    margin-top: 56px;

    @include media-breakpoint-down(xs) {
      margin-top: 30px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 32px;

    @include media-breakpoint-down(sm) {
      font-size: 40px;
      line-height: 48px;
      font-weight: 600;
    }
  }

  &__subtitle {
    @include media-breakpoint-up(lg) {
      display: block;
      margin-bottom: 16px;
    }
  }

  &__button-wrapper {
    display: inline-block;
  }
}