.instruments {
  position: relative;

  @include media-breakpoint-down(xs) {
    padding: 0;
  }

  &::after {
    content: '';
    position: absolute;
    width: 1300px;
    height: 1300px;
    left: -400px;
    top: -100px;
    background: rgba(48, 86, 152, 0.6);
    box-shadow: 0 100px 100px rgba($color-blue-regular, 0.5);
    filter: blur(150px);
    border-radius: 50%;
    z-index: -1;
  }

  &__title {
    max-width: 800px;
    margin: 0 auto 80px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 0;
    }
  }

  &__mob-icons {
    display: none;

    @include media-breakpoint-down(xs) {
      display: block;
      margin: 0 auto -20px;
    }
  }

  &__list {
    position: relative;
    min-height: 880px;

    @include media-breakpoint-down(sm) {
      min-height: 450px;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(166.8% 1509.82% at 165.04% -66.8%, rgba(113, 157, 214, 0.3) 33.39%, rgba(113, 157, 214, 0) 100%), rgba(18, 21, 26, 0.5);
    box-shadow: 4px 4px 250px #2B4378;
    min-height: 104px;
    min-width: 104px;
    text-align: center;

    @include media-breakpoint-down(sm) {
      min-height: unset;
      min-width: unset;
    }

    &_1 {
      top: 350px;
      left: 0;
      width: 227px;
      height: 227px;
      font-size: 13px;

      @include media-breakpoint-down(sm) {
        top: 105px;
        width: 114px;
        height: 114px;
        font-size: 6.5px;
      }

      .instruments__item-container {
        max-width: 160px;
        margin-top: -20px;

        @include media-breakpoint-down(sm) {
          max-width: 82px;
        }
      }

      .instruments__item-icon {
        @include media-breakpoint-down(sm) {
          max-width: 46px;
        }
      }
    }

    &_2 {
      top: 30px;
      left: 80px;
      width: 198px;
      height: 198px;

      @include media-breakpoint-down(lg) {
        left: 40px;
      }

      @include media-breakpoint-down(md) {
        left: 0;
      }

      @include media-breakpoint-down(sm) {
        width: 83px;
        height: 83px;
        top: 234px;
      }

      .instruments__item-icon {
        @include media-breakpoint-down(sm) {
          max-width: 63px;
        }
      }
    }

    &_3 {
      bottom: 0;
      left: 190px;
      width: 275px;
      height: 275px;
      font-size: 18px;

      @include media-breakpoint-down(lg) {
        left: 110px;
      }

      @include media-breakpoint-down(md) {
        left: 30px;
        width: 220px;
        height: 220px;
        font-size: 14px;
      }

      @include media-breakpoint-down(sm) {
        width: 115px;
        height: 115px;
        font-size: 9px;
      }

      .instruments__item-container {
        max-width: 175px;

        @include media-breakpoint-down(sm) {
          max-width: 73px;
        }
      }

      .instruments__item-icon {
        @include media-breakpoint-down(sm) {
          max-width: 46px;
        }
      }
    }

    &_4 {
      top: 250px;
      left: 250px;
      width: 130px;
      height: 130px;

      @include media-breakpoint-down(lg) {
        top: 234px;
        left: 188px;
      }

      @include media-breakpoint-down(sm) {
        width: 55px;
        height: 55px;
        top: 40px;
        left: 70px;
      }

      .instruments__item-icon {
        @include media-breakpoint-down(sm) {
          max-width: 36px;
        }
      }
    }

    &_5 {
      top: 15px;
      left: 391px;
      width: 156px;
      height: 156px;

      @include media-breakpoint-down(lg) {
        left: 284px;
      }

      @include media-breakpoint-down(md) {
        left: 220px;
        width: 125px;
        height: 125px;
      }

      @include media-breakpoint-down(sm) {
        width: 65px;
        height: 65px;
        top: 67px;
        left: 199px;
      }
    }

    &_6 {
      bottom: 260px;
      left: 414px;
      width: 307px;
      height: 307px;
      font-size: 20px;

      @include media-breakpoint-down(lg) {
        left: 303px;
        width: 280px;
        height: 280px;
      }

      @include media-breakpoint-down(md) {
        left: 250px;
        width: 220px;
        height: 220px;
        font-size: 13px;
      }

      @include media-breakpoint-down(sm) {
        width: 128px;
        height: 128px;
        top: 187px;
        left: 117px;
        font-size: 8.5px;
      }

      .instruments__item-container {
        max-width: 195px;

        @include media-breakpoint-down(md) {
          max-width: 160px;
        }

        @include media-breakpoint-down(sm) {
          max-width: 81px;
        }
      }

      .instruments__item-icon {
        @include media-breakpoint-down(sm) {
          max-width: 51px;
        }
      }
    }

    &_7 {
      bottom: 104px;
      left: 560px;
      width: 104px;
      height: 104px;

      @include media-breakpoint-down(lg) {
        left: 450px;
      }

      @include media-breakpoint-down(md) {
        left: 272px;
        bottom: 131px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &_8 {
      top: 84px;
      left: 602px;
      width: 194px;
      height: 194px;

      @include media-breakpoint-down(lg) {
        left: 475px;
        width: 157px;
        height: 157px;
      }

      @include media-breakpoint-down(md) {
        top: 70px;
        left: 370px;
        width: 142px;
        height: 142px;
      }

      @include media-breakpoint-down(sm) {
        width: 81px;
        height: 81px;
        top: 38px;
        left: 374px;
      }

      .instruments__item-icon {
        @include media-breakpoint-down(sm) {
          max-width: 47px;
        }
      }
    }

    &_9 {
      bottom: 167px;
      left: 765px;
      width: 187px;
      height: 187px;

      @include media-breakpoint-down(lg) {
        bottom: 177px;
        left: 591px;
        width: 149px;
        height: 149px;
      }

      @include media-breakpoint-down(md) {
        bottom: 170px;
        left: 458px;
        width: 140px;
        height: 140px;
      }

      @include media-breakpoint-down(sm) {
        width: 106px;
        height: 106px;
        left: 245px;
        bottom: 30px;
      }

      .instruments__item-icon {
        @include media-breakpoint-down(sm) {
          max-width: 62px;
        }
      }
    }

    &_10 {
      top: 150px;
      right: 25px;
      width: 307px;
      height: 307px;
      font-size: 20px;

      @include media-breakpoint-down(lg) {
        top: 173px;
        right: 18px;
        width: 265px;
        height: 265px;
        font-size: 14px;
      }

      @include media-breakpoint-down(md) {
        top: 190px;
        right: 16px;
        width: 210px;
        height: 210px;
        font-size: 10px;
      }

      @include media-breakpoint-down(sm) {
        width: 128px;
        height: 128px;
        left: 281px;
        bottom: unset;
        top: 152px;
        font-size: 8px;
      }

      .instruments__item-container {
        max-width: 195px;

        @include media-breakpoint-down(md) {
          max-width: 120px;
        }

        @include media-breakpoint-down(sm) {
          max-width: 81px;
        }
      }

      .instruments__item-icon {
        @include media-breakpoint-down(sm) {
          max-width: 50px;
        }
      }
    }

    &_11 {
      right: 109px;
      bottom: 0;
      width: 156px;
      height: 156px;

      @include media-breakpoint-down(sm) {
        width: 106px;
        height: 106px;
        right: 0;
        bottom: 40px;
      }
    }

    &_12 {
      right: 0;
      bottom: 220px;
      width: 128px;
      height: 128px;

      @include media-breakpoint-down(lg) {
        bottom: 250px;
      }

      @include media-breakpoint-down(md) {
        bottom: 325px;
      }

      @include media-breakpoint-down(sm) {
        width: 53px;
        height: 53px;
        right: 0;
        bottom: 200px;
      }
    }
  }
}