.service {
  position: relative;

  &__subtitle {
    @include media-breakpoint-up(lg) {
      display: block;
      margin-bottom: 16px;
      text-align: center;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    max-width: 800px;
    margin: 0 auto 80px;
  }

  &__list {
    &_left {
      .service__item {
        &:first-child {
          margin-left: auto;
          margin-right: 25px;
        }

        &:nth-child(2) {
          margin-left: auto;
          margin-right: 107px;
        }

        &:last-child {
          margin-left: auto;
        }
      }
    }

    &_right {
      .service__item {
        &:first-child {
          margin-right: auto;
          margin-left: 31px;
          margin-bottom: 72px;
        }

        &:nth-child(2) {
          max-width: 323px;
          margin-right: auto;
          margin-left: 107px;
          margin-bottom: 80px;
        }

        &:last-child {
          margin-right: auto;
          margin-left: 48px;
        }
      }
    }
  }

  &__item {
    max-width: 375px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
    background: rgba(18, 21, 26, 0.5);
    box-shadow: 8px 8px 24px rgba(113, 157, 214, 0.1);
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: 84px;
    }
  }

  &__item-icon {
    min-width: 35px;
    min-height: 32px;
  }

  &__item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 16px;
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}