.service {
  position: relative;

  &::after {
    @include media-breakpoint-down(xs) {
      position: absolute;
      content: '';
      width: 500px;
      height: 500px;
      left: -13px;
      top: 145px;
      background: #1f2a38;
      background: -webkit-gradient(linear,left top,right top,color-stop(26%,#1f2a38),to(#305698));
      background: -o-linear-gradient(left,#1f2a38 26%,#305698 100%);
      background: linear-gradient(90deg,#1f2a38 26%,#2353bf 100%);
      filter: blur(72px);
      z-index: -1;
      display: none;
    }
  }

  &__subtitle {
    text-align: center;

    @include media-breakpoint-up(lg) {
      display: block;
      margin-bottom: 16px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    max-width: 800px;
    margin: 0 auto 80px;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__list {
    &_left {
      .service__item {
        &:first-child {
          margin-left: auto;
          margin-right: 25px;

          @include media-breakpoint-down(lg) {
            margin-left: 0;
          }
        }

        &:nth-child(2) {
          margin-left: auto;
          margin-right: 107px;

          @include media-breakpoint-down(lg) {
            margin-right: unset;
          }
        }

        &:last-child {
          margin-left: auto;

          @include media-breakpoint-down(lg) {
            margin-right: auto;
          }
        }
      }
    }

    &_right {
      .service__item {
        &:first-child {
          margin-right: auto;
          margin-left: 31px;
          margin-bottom: 72px;

          @include media-breakpoint-down(lg) {
            margin-bottom: 24px;
            margin-left: 0;
          }
        }

        &:nth-child(2) {
          max-width: 323px;
          margin-right: auto;
          margin-left: 107px;
          margin-bottom: 80px;

          @include media-breakpoint-down(lg) {
            margin-bottom: 24px;
            margin-right: unset;
            margin-left: auto;
          }

          @include media-breakpoint-down(xs) {
            margin-right: auto;
            max-width: unset;
          }
        }

        &:last-child {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }

  &__item {
    max-width: 375px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
    //background: rgba(18, 21, 26, 0.5);
    //box-shadow: 8px 8px 24px rgba(113, 157, 214, 0.1);
    //border-radius: 8px;

    //transform-style: preserve-3d;
    //perspective: 600px;
    //transition: .5s;
    //position: relative;
    //
    //&:first-child {
    //  width: 330px;
    //  height: 80px;
    //}

    @include media-breakpoint-down(lg) {
      padding: 18px 16px;
    }

    @include media-breakpoint-down(xs) {
      padding: 18px 16px;
      width: 100%;
      max-width: 100%;
      justify-content: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 84px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 24px;
      }
    }

  //  &:hover {
  //    background: red;
  //    .service__item-front {
  //      transform: rotateX(-180deg);
  //    }
  //
  //    .service__item-front {
  //      transform: rotateX(0deg);
  //    }
  //  }
  }
  //
  //&__item-front {
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //  backface-visibility: hidden;
  //  transform: rotateX(0deg);
  //  transition: .5s ease-out;
  //  background-color: #000000
  //}
  //
  //&__item-back {
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //  backface-visibility: hidden;
  //  transform: rotateX(180deg);
  //  transition: .5s ease-out;
  //  background-color: red;
  //}

  &__item-icon {
    min-width: 35px;
    min-height: 32px;
  }

  &__item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 16px;

    @include media-breakpoint-down(xs) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__logo {
    @include media-breakpoint-down(lg) {
      margin: 24px 0;
    }
  }
}

.card-flip {
  position: relative;
  height: 80px;
  width: auto;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: .5s;
  cursor: pointer;

  &.flipped {
    z-index: 10;

    .card-front {
      transform: rotateX(-180deg);
    }

    .card-back {
      transform: rotateX(0deg);
      height: auto;
    }
  }
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: .5s;
  background: rgba(18, 21, 26, 0.5);
  box-shadow: 8px 8px 24px rgba(113, 157, 214, 0.1);
  border-radius: 8px;
  padding: 0 20px;
}

.card-back {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: .5s;
  color: #ffffff;
  background: rgba(18, 21, 26, 1);
  box-shadow: 8px 8px 24px rgba(113, 157, 214, 0.1);
  border-radius: 8px;
  padding: 15px;
  font-size: 14px;
  text-align: center;

  ul {
    list-style-position: inside;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
}