.withdrawal {
  &__title {
    position: relative;
    max-width: 690px;
    margin: 0 auto 80px;

    &::before {
      content: '';
      position: absolute;
      left: -138px;
      top: -30px;
      width: 180px;
      height: 180px;
      background: url("../img/withdrawal-decor.png") center no-repeat;
      background-size: cover;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__item {
    position: relative;
    max-width: 378px;
    width: 100%;
    padding: 120px 32px;

    @include media-breakpoint-down(md) {
      padding: 120px 25px;
    }

    &_left {
      background: rgba(255, 255, 255, 0.01);
      box-shadow: 0 0 56px rgba(0, 0, 0, 0.1);
      border-radius: 32px 0 0 32px;

      @include media-breakpoint-down(md) {
        border-radius: 32px;
      }

      .withdrawal__item-decor--big {
        left: -30px;
        top: -30px;
      }

      .withdrawal__item-decor--small {
        right: -30px;
        bottom: 18px;

        @include media-breakpoint-down(xs) {
          right: -13px;
        }
      }
    }

    &_right {
      background: radial-gradient(123.58% 123.85% at 113.81% -17.23%, rgba(57, 140, 249, 0.5) 0%, rgba(113, 157, 214, 0) 66.15%), rgba(255, 255, 255, 0.2);
      border-radius: 0 32px 32px 0;

      @include media-breakpoint-down(md) {
        border-radius: 32px;
      }

      .withdrawal__item-name {
        font-weight: 600;
      }

      .withdrawal__item-decor--big {
        right: -23px;
        top: 3px;

        @include media-breakpoint-down(xs) {
          right: -9px;
        }
      }

      .withdrawal__item-decor--small {
        left: -30px;
        bottom: 18px;

        @include media-breakpoint-down(xs) {
          left: -9px;
        }
      }
    }

    .withdrawal__item-decor--small,
    .withdrawal__item-decor--big {
      position: absolute;
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__item-icon {
    margin-bottom: 20px;
  }

  &__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
  }

  &__item-list {
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item-name {
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
  }

  &__button-wrapper {
    margin-top: 88px;
    text-align: center;
  }
}