extends layout/app

block variables
  - var title = 'About | Cointology'
  - var pageClass = 'about-page'

block page
  include chunk/about-us
  include chunk/who-we-are
  include chunk/principles
  include chunk/our-goal