extends layout/app

block variables
    - var title = 'Советы | Cointology'
    - var pageClass = 'advices-page'

block page
    include chunk/beginners
    include chunk/what-do-you-want
    include chunk/learn-markets
    include chunk/avoid-mistakes
    include chunk/do-not-ignore
    include chunk/sharpen-your-knowledge
    include chunk/journal
    include chunk/help
    include chunk/experiment