extends layout/app

block variables
    - var title = 'Cointology'
    - var pageClass = 'home-page'

block page
    include chunk/hero
    include chunk/terms
    include chunk/capabilities
    include chunk/instruments
    include chunk/trusted
    include chunk/different
    include chunk/stats
    include chunk/withdrawal
    include chunk/policy