section.section.about-us
  .container
    .row
      .col-lg-5
        .about-us__content
          h3.section__subtitle.about-us__subtitle о нас
          h2.about-us__title Cointology предлагает #[span.text-blue-light полный спектр услуг] по управлению активами, покупке и продаже финансовых инструментов, хранению финансовых инструментов.
      .col-lg-7
        .about-us__img-wrapper
          img.about-us__img(src="./img/about-us-img.png" alt="about us")