section.section.advices.avoid-mistakes
    .container
        h2.section__title.advices__title(data-aos="fade-up" data-aos-delay="100") Брокер поможет #[span.text-blue-light избежать]#[br] #[span.text-blue-light ошибок новичков]
        .row.align-items-md-center
            .col-md-5(data-aos="fade-up" data-aos-delay="150")
                p.advices__text Кроме того, что брокер выступает посредником между рынком и вами, он так же может стать отличным финансовым наставником, помочь быстрее достичь цели и уберечь от неверных решений.
            .col-md-7.text-right.order-first(data-aos="fade-up" data-aos-delay="200")
                img.section__img(src="img/advices-3.png" alt="advice image")