section.section.beginners
    .container
        .row
            .col.beginners__content
                h3.section__subtitle.beginners__subtitle(data-aos="fade-up" data-aos-delay="100") Советы
                h2.section__title.beginners__title(data-aos="fade-up" data-aos-delay="150") Рекомендации для начинающих трейдеров
                p.section__description.beginners__description(data-aos="fade-up" data-aos-delay="200") Чтобы не попасть в ловушки и не удариться об подводные камни финансовых рынков мы собрали емкую и понятную инструкцию для тех, кто собирается начать свой путь трейдера.