section.section.capabilities
  .container
    h2.section__title.capabilities__title(data-aos="fade-up" data-aos-delay="100") #[span.text-blue-light Возможности] мировых рынков
    .row
      .col-md-12
        .capabilities__wrapper