section.section.advices.do-not-ignore
    .container
        h2.section__title.advices__title(data-aos="fade-up" data-aos-delay="100") Не игнорируйте #[span.text-blue-light обучение]
        .row.align-items-md-center
            .col-md-6(data-aos="fade-up" data-aos-delay="150")
                img.section__img(src="img/advices-4.png" alt="advice image")
            .col-md-6.text-right(data-aos="fade-up" data-aos-delay="200")
                p.advices__text В сети есть масса доступных курсов для начинающих. Кроме того, сами брокеры часто разрабатывают обучающие курсы для своих клиентов. Не игнорируйте эту возможность. Начните с базовых курсов, в которых объясняют терминологию и механизмы работы. Помните, что обучение – это чужой опыт в доступном формате, который введет вас в курс дела и предотвратит те неприятности, которые уже кто-то совершил.
