section.section.advices.experiment
    .container
        h2.section__title.advices__title(data-aos="fade-up" data-aos-delay="100") Экспериментируйте #[span.text-blue-light со стратегиями]
        .row.align-items-md-center
            .col-md-7(data-aos="fade-up" data-aos-delay="150")
                img.section__img(src="img/advices-8.png" alt="advice image")
            .col-md-5.text-right(data-aos="fade-up" data-aos-delay="200")
                p.advices__text Не останавливайтесь, даже если нашли подходящую на ваш взгляд методику ведения сделок. Расширяйте профессиональный кругозор: пробуйте новые рынки, вводите новые торговые инструменты, проводите торги в разные временные отрезки, анализируйте все нововведения. Это поможет “быть в тонусе”, ведь для того, чтобы подобрать находить новые решения и внедрять их в свою работу нужно всегда быть в курсе текущих дел на рынке.