section.section.advices.help
    .container
        h2.section__title.advices__title(data-aos="fade-up" data-aos-delay="100") Не отказывайтесь от #[span.text-blue-light помощи полностью]
        .row.align-items-md-center
            .col-md-5(data-aos="fade-up" data-aos-delay="150")
                p.advices__text Время от времени полезно обращаться за консультацией к аналитику или вашему личному наставнику, даже если больше не испытывайте страх перед каждой сделкой и твердо знаете, что делать. Взгляд со стороны поможет найти новые идеи, узнать грядущие тенденции, выявить ошибки, которые были недоступны вашему глазу.
            .col-md-7.text-right.order-first(data-aos="fade-up" data-aos-delay="200")
                img.section__img(src="img/advices-7.png" alt="advice image")