section.section.hero(data-aos="zoom-out")
  .container
    .col-md-9.col-lg-6
      .hero__content
        h3.section__subtitle.hero__subtitle(data-aos="fade-up" data-aos-delay="600") представляем
        h1.hero__title(data-aos="fade-up" data-aos-delay="800") Брокерские услуги. #[span.text-blue-light Наш опыт] для вашей истории успеха.
        button.button.button_transparent(data-aos="fade-up" data-aos-delay="1000") Узнать больше