section.section.hero
  .container
    .col-md-6
      .hero__content
        h3.section__subtitle.hero__subtitle представляем
        h1.hero__title Брокерские услуги. #[span.text-blue-light Наш опыт] для вашей истории успеха.
        button.button.button_transparent Узнать больше