section.section.instruments
  .container
    h2.section__title.instruments__title Брокерские услуги с #[span.text-blue-light широким выбором инструментов]
    .row
      .col-12
        .instruments__list
          .instruments__item.instruments__item_1
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-1.png" alt="instruments icon 1")
              .instruments__item-text Сделки с серебром, золотом, платиной и другими металлами
          .instruments__item.instruments__item_2
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-2.png" alt="instruments icon 2")
          .instruments__item.instruments__item_3
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-3.png" alt="instruments icon 3")
              .instruments__item-text Инвестиции в энергетические проекты
          .instruments__item.instruments__item_4
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-4.png" alt="instruments icon 4")
          .instruments__item.instruments__item_5
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-5.png" alt="instruments icon 5")
          .instruments__item.instruments__item_6
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-6.png" alt="instruments icon 6")
              .instruments__item-text Инвестиции в энергетические проекты
          .instruments__item.instruments__item_7
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-7.png" alt="instruments icon 7")
          .instruments__item.instruments__item_8
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-8.png" alt="instruments icon 8")
          .instruments__item.instruments__item_9
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-9.png" alt="instruments icon 9")
          .instruments__item.instruments__item_10
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-10.png" alt="instruments icon 10")
              .instruments__item-text Акции публичных компаний из Европы и США
          .instruments__item.instruments__item_11
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-11.png" alt="instruments icon 11")
          .instruments__item.instruments__item_12
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-12.png" alt="instruments icon 12")