section.section.instruments
  .container
    h2.section__title.instruments__title(data-aos="fade-up" data-aos-delay="100") Брокерские услуги с #[span.text-blue-light широким выбором инструментов]
    .row
      .col-12
        .instruments__list
          .instruments__item.instruments__item_1(data-aos="fade-up" data-aos-delay="350")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-1.png" alt="instruments icon 1")
              .instruments__item-text Сделки с серебром, золотом, платиной и другими металлами
          .instruments__item.instruments__item_2(data-aos="fade-up" data-aos-delay="100")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-2.png" alt="instruments icon 2")
          .instruments__item.instruments__item_3(data-aos="fade-up" data-aos-delay="550")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-3.png" alt="instruments icon 3")
              .instruments__item-text Торговля фондовыми индексами
          .instruments__item.instruments__item_4(data-aos="fade-up" data-aos-delay="300")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-4.png" alt="instruments icon 4")
          .instruments__item.instruments__item_5(data-aos="fade-up" data-aos-delay="150")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-5.png" alt="instruments icon 5")
          .instruments__item.instruments__item_6(data-aos="fade-up" data-aos-delay="400")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-6.png" alt="instruments icon 6")
              .instruments__item-text Инвестиции в энергетические проекты
          .instruments__item.instruments__item_7(data-aos="fade-up" data-aos-delay="600")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-7.png" alt="instruments icon 7")
          .instruments__item.instruments__item_8(data-aos="fade-up" data-aos-delay="200")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-8.png" alt="instruments icon 8")
          .instruments__item.instruments__item_9(data-aos="fade-up" data-aos-delay="450")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-9.png" alt="instruments icon 9")
          .instruments__item.instruments__item_10(data-aos="fade-up" data-aos-delay="250")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-10.png" alt="instruments icon 10")
              .instruments__item-text Акции публичных компаний из Европы и США
          .instruments__item.instruments__item_11(data-aos="fade-up" data-aos-delay="650")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-11.png" alt="instruments icon 11")
          .instruments__item.instruments__item_12(data-aos="fade-up" data-aos-delay="500")
            .instruments__item-container
              img.instruments__item-icon(src="./img/instruments-icon-12.png" alt="instruments icon 12")
        img.instruments__mob-icons(src="./img/instruments-mob-icons2x.png" data-aos="fade-up" data-aos-delay="300")