section.section.advices.journal
    .container
        h2.section__title.advices__title(data-aos="fade-up" data-aos-delay="100") Ведите журнал #[span.text-blue-light накопления прибыли]
        .row.align-items-md-center
            .col-md-7(data-aos="fade-up" data-aos-delay="150")
                img.section__img(src="img/advices-6.png" alt="advice image")
            .col-md-5.text-right(data-aos="fade-up" data-aos-delay="200")
                p.advices__text Это поможет анализировать свои действия, вовремя найти ошибку в стратегии, следить за статистикой. В нем можно фиксировать биржевые операции, цены на момент проведения сделок, прибыль, актуальные тенденции рынка и даже причины, по которой вы совершили операцию.