section.section.advices.learn-markets
    .container
        h2.section__title.advices__title(data-aos="fade-up" data-aos-delay="100") Изучите рынки #[span.text-blue-light и их инструменты]
        .row.align-items-md-center
            .col-md-7(data-aos="fade-up" data-aos-delay="150")
                img.section__img(src="img/advices-2.png" alt="advice image")
            .col-md-5.text-right(data-aos="fade-up" data-aos-delay="200")
                p.advices__text У всех рынков разные правила ведения сделок, время проведения торгов, набор торговых инструментов. Перед началом работы стоит определиться, что вам подходит больше: это могут быть фьючерсы, акции, валютный или крипторынок.