section.section.our-goal
  .container
    h2.section__title.our-goal__title Наша цель
    .row
      .col-md-10.offset-md-1
        .our-goal__content
          p.our-goal__text Еще до запуска проекта мы продумали каждую мелочь и заложили прочную основу для выхода на рынок. Мы обеспечиваем условия для быстрого роста новых клиентов и стабильного развития постоянных. Постоянный контроль успешности сделок и опросы нашей аудитории дает нам возможность проводить быстрый и качественный мониторинг работы. Каждый отчетный период мы пересматриваем список торговых инструментов, их статистику и показатели, чтобы убрать неэффективные и одними из первых добавить быстроразвивающиеся.
          p.our-goal__text Наша команда верит, что эта стратегия приведет к первому месту в мировом списке поставщиков брокерских услуг.