section.section.policy
  .container
    h2.section__title.policy__title #[span.text-blue-light Политика] вывода средств
    .row
      .col-12
        p.policy__text Для вывода средств клиент должен подать заявку. Сроки обработки обращения от 3 до 5 рабочих дней, производится автоматически, в порядке живой очереди.  Все торговые позиции должны быть закрыты, а клиентский счет должен быть отключен от роботизированной системы. Все бонусные средства аннулируются при выводе, поэтому их нужно использовать или вернуть до подачи запроса.  После обработки заявки будет назначена плановая дата, в день которой сотрудник компании свяжется с клиентом и подтвердит вывод. Прибыль будет зачислена на карту, счет или цифровой кошелек, с помощью которого был активирован счет.