section.section.advices.sharpen-your-knowledge
    .container
        h3.advices__subtitle(data-aos="fade-up" data-aos-delay="100") Рекомендации для трейдеров с опытом
        h2.section__title.advices__title(data-aos="fade-up" data-aos-delay="150") Оттачивайте знания #[span.text-blue-light сложных механик]
        .row.align-items-md-center
            .col-md-5(data-aos="fade-up" data-aos-delay="200")
                p.advices__text Не останавливайтесь на просто “хорошем” результате. Обучайтесь новым стратегиям, углубляйтесь в тему профессионально. Это поможет получить новый опыт, совершать более крупные сделки и добавит уверенности в свои силы. Когда вы твердо усвоили базу, можно приступить к изучению риск-менеджмента, фундаментальный или технический анализ, психологию принятия решений.
            .col-md-7.text-right.order-first(data-aos="fade-up" data-aos-delay="250")
                img.section__img(src="img/advices-5.png" alt="advice image")