section.section.signals
    .container
        h2.section__title.signals__title(data-aos="fade-up" data-aos-delay="200") Получайте #[span.text-blue-light торговые сигналы] разных рынков ежедневно
        .signals__list(data-aos="fade-up" data-aos-delay="300")
            .signals__item
                img.signals__item-img(src="./img/signals-icon-1.svg" alt="signal icon")
                h3.signals__item-title Валюта
                p.signals__item-text до 15 сигналов в день
            .signals__item
                img.signals__item-img(src="./img/signals-icon-2.svg" alt="signal icon")
                h3.signals__item-title Товары
                p.signals__item-text До 10 сигналов в день
            .signals__item
                img.signals__item-img(src="./img/signals-icon-3.svg" alt="signal icon")
                h3.signals__item-title Акции
                p.signals__item-text До 25 сигналов в день
            .signals__item
                img.signals__item-img(src="./img/signals-icon-4.svg" alt="signal icon")
                h3.signals__item-title Индексы
                p.signals__item-text до 5 сигналов в день
            .signals__item
                img.signals__item-img(src="./img/signals-icon-5.svg" alt="signal icon")
                h3.signals__item-title Криптовалюты
                p.signals__item-text До 10 сигналов в день
        .signals__plans(data-aos="fade-up" data-aos-delay="200")
            .signals__plan
                h3.signals__plan-title 1 месяц
                ul.signals__plan-list
                    li.signals__plan-item 1 тип рынка
                    li.signals__plan-item Онлайн чат с аналитиками
            .signals__plan
                h3.signals__plan-title 6 месяцев
                ul.signals__plan-list
                    li.signals__plan-item До 3х типов рынка
                    li.signals__plan-item Онлайн чат с аналитиками
            .signals__plan
                h3.signals__plan-title 1 год
                ul.signals__plan-list
                    li.signals__plan-item Все типы рынка
                    li.signals__plan-item Онлайн чат с аналитиками
                    li.signals__plan-item Возможность “заморозить” подписку один раз за период