section.section.stats
  .container
    h2.section__title.stats__title(data-aos="fade-up" data-aos-delay="200") Статистика за #[span.text-blue-light сегодня]
    .row
      .col-12
        .stats__block(data-aos="fade-up" data-aos-delay="500")
          header.stats__header
            svg.stats__header-icon(width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M29.2181 0C35.966 0 40.5 4.73674 40.5 11.786V28.214C40.5 35.2633 35.966 40 29.2181 40H11.7819C5.03395 40 0.5 35.2633 0.5 28.214V11.786C0.5 4.73674 5.03395 0 11.7819 0H29.2181ZM29.2181 2.7907H11.7819C6.62465 2.7907 3.2907 6.32 3.2907 11.786V28.214C3.2907 33.68 6.62465 37.2093 11.7819 37.2093H29.2181C34.3772 37.2093 37.7093 33.68 37.7093 28.214V11.786C37.7093 6.32 34.3772 2.7907 29.2181 2.7907ZM11.8881 15.2605C12.6583 15.2605 13.2834 15.8856 13.2834 16.6558V29.4186C13.2834 30.1888 12.6583 30.814 11.8881 30.814C11.1179 30.814 10.4927 30.1888 10.4927 29.4186V16.6558C10.4927 15.8856 11.1179 15.2605 11.8881 15.2605ZM20.5709 9.1507C21.3411 9.1507 21.9662 9.77581 21.9662 10.546V29.4167C21.9662 30.187 21.3411 30.8121 20.5709 30.8121C19.8007 30.8121 19.1755 30.187 19.1755 29.4167V10.546C19.1755 9.77581 19.8007 9.1507 20.5709 9.1507ZM29.111 22.0047C29.8812 22.0047 30.5063 22.6298 30.5063 23.4V29.4167C30.5063 30.187 29.8812 30.8121 29.111 30.8121C28.3407 30.8121 27.7156 30.187 27.7156 29.4167V23.4C27.7156 22.6298 28.3407 22.0047 29.111 22.0047Z' fill='white')
            .stats__header-title Аналитика
          .stats__list
            .stats__item
              svg.stats__item-icon(width='184' height='208' viewBox='0 0 184 208' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M14.1969 41.868C30.6063 24.6975 53.7471 14 79.3894 14C129.156 14 169.5 54.2944 169.5 104C169.5 153.706 129.156 194 79.3894 194C55.3787 194 33.5613 184.621 17.41 169.33' stroke='url(#paint0_linear_222_1249)' stroke-width='27.4621' stroke-linecap='round')
                defs
                  lineargradient#paint0_linear_222_1249(x1='91.8484' y1='14' x2='91.8484' y2='194' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#305698')
                    stop(offset='1' stop-color='#2B4378')
              .stats__item-content
                span.stats__item-number 2896
                span.stats__item-text Сегодня прошло сделок
            .stats__item
              svg.stats__item-icon(width='184' height='208' viewBox='0 0 184 208' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M14.1969 41.868C30.6063 24.6975 53.7471 14 79.3894 14C129.156 14 169.5 54.2944 169.5 104C169.5 153.706 129.156 194 79.3894 194C55.3787 194 33.5613 184.621 17.41 169.33' stroke='url(#paint0_linear_222_1249)' stroke-width='27.4621' stroke-linecap='round')
                defs
                  lineargradient#paint0_linear_222_1249(x1='91.8484' y1='14' x2='91.8484' y2='194' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#305698')
                    stop(offset='1' stop-color='#2B4378')
              .stats__item-content
                span.stats__item-number 2269
                span.stats__item-text Из них прибыльные
            .stats__item
              svg.stats__item-icon(width='184' height='208' viewBox='0 0 184 208' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M14.1969 41.868C30.6063 24.6975 53.7471 14 79.3894 14C129.156 14 169.5 54.2944 169.5 104C169.5 153.706 129.156 194 79.3894 194C55.3787 194 33.5613 184.621 17.41 169.33' stroke='url(#paint0_linear_222_1249)' stroke-width='27.4621' stroke-linecap='round')
                defs
                  lineargradient#paint0_linear_222_1249(x1='91.8484' y1='14' x2='91.8484' y2='194' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#305698')
                    stop(offset='1' stop-color='#2B4378')
              .stats__item-content
                span.stats__item-number 30588#[span.stats__item-sign $]
                span.stats__item-text Прибыли для клиентов
          footer.stats__footer
            p.stats__footer-text Статистика по состоянию на 12:00 по Московскому времени, 01.06.2022 года
            img.stats__footer-gift(src="./img/stats-gift.png" alt="gift")