section.section.text-page
    .container
        h2.section__title.text-page__title(data-aos="fade-up" data-aos-delay="100") Политика вывода средств
        .row
            .col
                p.text-page__text(data-aos="fade-up" data-aos-delay="150") Для вывода средств клиент должен подать заявку. Сроки обработки обращения от 3 до 5 рабочих дней, производится автоматически. Все торговые позиции должны быть закрыты, а клиентский счет должен быть отключен от роботизированной системы. Все бонусные средства аннулируются при выводе, поэтому их нужно использовать или вернуть до подачи запроса.  После обработки заявки будет назначена плановая дата, в день которой сотрудник компании свяжется с клиентом и подтвердит вывод. Прибыль будет зачислена на карту, счет или цифровой кошелек, с помощью которого был активирован счет.
                p.text-page__text(data-aos="fade-up" data-aos-delay="200") Обратите внимание, что вывод средств возможен только, если пользователь прошел полную верификацию счета. Подробную информацию можно получить #[a(href="./kyc.html") тут].