section.section.text-page
    .container
        h2.section__title.text-page__title(data-aos="fade-up" data-aos-delay="100") Верификация
        .row
            .col
                h3.text-page__subtitle(data-aos="fade-up" data-aos-delay="150") Инструкция прохождения верификации (KYC)
                p.text-page__text(data-aos="fade-up" data-aos-delay="200") Know Your Customer – принцип биржевого и банковского регулирование. Он обязывает финансовые организации устанавливать личность клиента, прежде чем проводить операции. Это помогает компаниям обезопасить себя от работы с мошенниками и защитить клиентские счета.
                p.text-page__text(data-aos="fade-up" data-aos-delay="250") Верификация счета –  это комплекс мер, которые помогают удостовериться брокеру, что клиент достиг совершеннолетия и владеет платежным средством, с которой был активирован торговый счет. Это препятствует любой попытке отмывания денежных средств и мошенническим операциям с чужими счетами.
                p.text-page__text(data-aos="fade-up" data-aos-delay="300") Чтобы пройти верификацию, нужно в течении 2х дней с момента активации торгового счета, предоставить в отдел верификации скан-копии документов или их фотографии высокого разрешения.
                h3.text-page__subtitle(data-aos="fade-up" data-aos-delay="400") Список необходимых документов:
                #accordionExample.accordion(data-aos="fade-up" data-aos-delay="100")
                    .card
                        #headingOne.card-header
                            h2.mb-0
                                button.btn.btn-link.btn-block.text-left(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                    | Для клиентов, которые внесли депозит со своей личной банковской карты:
                        #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                            .card-body
                                p Удостоверение личности (действующий внутренний паспорт, заграничный паспорт, водительское удостоверение). На скане или фото документа четко должно быть видно ФИО, дату выдачи, срок действия, серию, номер, подпись и фото.
                                p Документ подтверждающий адрес клиента (для граждан РФ можно предоставить страницу с пропиской в паспорте, или любой другой документ, с адресом и датой не позднее 3х месяцев, содержащий ФИО клиента: банковская выписка, квитанция ЖКХ и тд).
                                p Для жителей ЕС: квитанция оплаты ЖКХ, интернета или мобильной связи на имя Клиента не позднее 3х месяцев.
                                p Фотография банковской карты (с двух сторон), которая была использована для внесения депозита. Должны быть видны первые 6 и последние 4 цифры номера карты и имя владельца (если есть), в специально отведенном месте карта должна быть подписана владельцем.  Пожалуйста, убедитесь, что на остальные цифры номера и CVV код на обратной стороне не попали в кадр.
                                p Форма декларации. Документ нашей компании, который подтверждает, что торговый счет активирован и денежные средства внесены.  Он отправляется отделом верификации на электронную почту клиента, после чего его необходимо распечатать, заполнить от руки и прислать его качественную фотографию или скан-копию.
                    .card
                        #headingTwo.card-header
                            h2.mb-0
                                button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                    | Для клиентов, которые внесли депозит с карты 3го лица:
                        #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                            .card-body
                                p От владельца торгового счета: удостоверение личности, подтверждение адреса
                                p От владельца банковской карты: удостоверение личности, подтверждение адреса, банковская карта, с которой был внесен депозит, форма декларации.
                                p Также менеджер должен уточнить возраст/гражданство владельца карты.
                    .card
                        #headingThree.card-header
                            h2.mb-0
                                button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                    | Для клиентов, которые внесли депозит с  помощью BTC (с любого криптокошелька):
                        #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                            .card-body
                                p Удостоверение личности, подтверждение личности.
                    .card
                        #headingFour.card-header
                            h2.mb-0
                                button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                                    | Для клиентов, которые внесли депозит с  помощью Qiwi или Advacash:
                        #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordionExample')
                            .card-body
                                p Удостоверение личности, подтверждение адреса, декларация.
                h3.text-page__subtitle(data-aos="fade-up" data-aos-delay="100") Требования к предоставленным копиям документов:
                ol.text-page__ordered-list(data-aos="fade-up" data-aos-delay="150")
                    li Копия документа должна быть цветной и полностью читабельной;
                    li Развороты документа (с углами и краями) должны быть полностью видны, в полном размере без обрезанных краев;
                    li Изображение не должно содержать следов графического монтажа, явных стертых элементов, приписок, зачеркнутых слов, исправлений иного рода. Исключением является банковская карта Клиента, где с целью информационной безопасности необходимо закрыть конфиденциальную информацию;
                    li Документы должны быть действительными на момент запроса, а также содержать все надлежащие печати и подписи.
                h3.text-page__subtitle(data-aos="fade-up" data-aos-delay="200") В отдельных случаях отдел верификации может запросить у клиента дополнительные документы, в зависимости от метода активации торгового счета.