section.section.trusted
  .container
    h2.section__title.trusted__title(data-aos="fade-up" data-aos-delay="200") Для тех, у кого #[span.text-blue-light нет времени на ошибки]
    p.section__description.trusted__description(data-aos="fade-up" data-aos-delay="400") Сотрудничайте с проверенным брокером, чтобы сделки всегда приносили прибыль
    .row
      .col-md-8.offset-md-2
        .trusted__cards(data-aos="fade-up" data-aos-delay="600")
          .trusted__card.trusted__card_left
            .trusted__card-heading
              svg.trusted__card-icon(width='42' height='32' viewBox='0 0 42 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M21.2487 19.8479L21.4639 19.8479L21.9453 19.8496C25.6248 19.8738 34.0334 20.2455 34.0334 25.9448C34.0334 31.6067 25.9179 31.9759 22.0027 32L20.5521 32C16.8724 31.9758 8.46214 31.6045 8.46214 25.9124C8.46214 20.2434 16.8724 19.8737 20.5521 19.8495L21.0335 19.8479C21.1082 19.8479 21.18 19.8479 21.2487 19.8479ZM21.2487 22.7067C16.7203 22.7067 11.321 23.2632 11.321 25.9124C11.321 28.5016 16.3981 29.107 20.8348 29.1413L21.2487 29.1429C25.7771 29.1429 31.1745 28.5882 31.1745 25.9448C31.1745 23.2689 25.7771 22.7067 21.2487 22.7067ZM36.4073 19.0745C41.0253 19.7663 41.9954 21.9352 41.9954 23.6333C41.9954 24.6701 41.5875 26.5627 38.8621 27.6014C38.6944 27.6643 38.5229 27.6948 38.3532 27.6948C37.7777 27.6948 37.2345 27.3441 37.0172 26.7742C36.7351 26.0366 37.1068 25.2095 37.8444 24.9293C39.1366 24.4376 39.1366 23.8944 39.1366 23.6333C39.1366 22.7986 38.075 22.2154 35.9823 21.9028C35.2028 21.7846 34.6635 21.0585 34.7797 20.2752C34.896 19.4937 35.6202 18.9734 36.4073 19.0745ZM7.71579 20.2752C7.83205 21.0585 7.29269 21.7846 6.51318 21.9028C4.42052 22.2154 3.35895 22.7986 3.35895 23.6333C3.35895 23.8944 3.35895 24.4357 4.65304 24.9293C5.39062 25.2095 5.76226 26.0366 5.48019 26.7742C5.26292 27.3441 4.71975 27.6948 4.14417 27.6948C3.97455 27.6948 3.80302 27.6643 3.6353 27.6014C0.907981 26.5608 0.500122 24.6682 0.500122 23.6333C0.500122 21.9371 1.47022 19.7663 6.09008 19.0745C6.87721 18.9753 7.59763 19.4937 7.71579 20.2752ZM21.2487 0C26.0515 0 29.9567 3.90706 29.9567 8.70798C29.9567 13.5089 26.0515 17.416 21.2487 17.416H21.1972C18.8721 17.4083 16.6936 16.4973 15.0622 14.8506C13.427 13.2059 12.5331 11.0217 12.5426 8.70226C12.5426 3.90706 16.4478 0 21.2487 0ZM21.2487 2.85882C18.024 2.85882 15.4014 5.48322 15.4014 8.70798C15.3957 10.2708 15.9942 11.7326 17.0901 12.8361C18.186 13.9396 19.6459 14.5514 21.2011 14.5571L21.2487 15.9865V14.5571C24.4735 14.5571 27.0979 11.9346 27.0979 8.70798C27.0979 5.48322 24.4735 2.85882 21.2487 2.85882ZM33.0442 1.86681C36.3948 2.41761 38.8286 5.28406 38.8286 8.68225C38.8209 12.1033 36.2652 15.0384 32.8822 15.5129C32.8155 15.5225 32.7488 15.5263 32.684 15.5263C31.9826 15.5263 31.3708 15.0098 31.2698 14.2951C31.1612 13.5118 31.7044 12.7894 32.4877 12.6808C34.4698 12.4025 35.9659 10.6834 35.9697 8.67844C35.9697 6.6906 34.5441 5.00961 32.5792 4.68752C31.8016 4.55982 31.2736 3.82415 31.4013 3.04465C31.5309 2.26514 32.2609 1.74293 33.0442 1.86681ZM11.0961 3.04465C11.2238 3.82415 10.6958 4.55982 9.91823 4.68752C7.95327 5.00961 6.52767 6.6906 6.52767 8.68225C6.53148 10.6834 8.0276 12.4044 10.0078 12.6808C10.7911 12.7894 11.3343 13.5118 11.2257 14.2951C11.1247 15.0098 10.5129 15.5263 9.8115 15.5263C9.7467 15.5263 9.68 15.5225 9.61329 15.5129C6.23035 15.0384 3.67647 12.1033 3.66884 8.68606C3.66884 5.28406 6.10265 2.41761 9.4532 1.86681C10.2556 1.74102 10.9665 2.26895 11.0961 3.04465Z' fill='white')
              .trusted__card-title C брокером
            .trusted__card-body
              .trusted__card-item Быстрый старт
              .trusted__card-item Оперативный вывод средств
              .trusted__card-item Готовый план#[br]инвестиционного портфеля
              .trusted__card-item Консультирование
          .trusted__card.trusted__card_right
            .trusted__card-heading
              svg.trusted__card-icon(width='27' height='32' viewBox='0 0 27 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M26.0093 26.0784C26.0093 31.3864 18.7301 32 13.2563 32L12.8645 31.9997C9.37705 31.9912 0.5 31.771 0.5 26.0462C0.5 20.8465 7.48664 20.1516 12.9188 20.1255L13.648 20.125C17.1352 20.1335 26.0093 20.3536 26.0093 26.0784ZM13.2563 22.5403C6.39419 22.5403 2.91565 23.7191 2.91565 26.0462C2.91565 28.3942 6.39419 29.5843 13.2563 29.5843C20.1167 29.5843 23.5936 28.4055 23.5936 26.0784C23.5936 23.7304 20.1167 22.5403 13.2563 22.5403ZM13.2563 0C17.9716 0 21.8061 3.83606 21.8061 8.55141C21.8061 13.2668 17.9716 17.1012 13.2563 17.1012H13.2047C8.49903 17.0867 4.68713 13.2491 4.70319 8.54658C4.70319 3.83606 8.5393 0 13.2563 0ZM13.2563 2.2997C9.80832 2.2997 7.00291 5.10347 7.00291 8.55141C6.99167 11.9881 9.77611 14.7902 13.2096 14.8031L13.2563 15.953V14.8031C16.7026 14.8031 19.5064 11.9977 19.5064 8.55141C19.5064 5.10347 16.7026 2.2997 13.2563 2.2997Z' fill='white')
              .trusted__card-title Самостоятельное инвестирование
            .trusted__card-body
              .trusted__card-item Длительное обучение
              .trusted__card-item Высокий риск
              .trusted__card-item Отсутствие контроля
              .trusted__card-item Ожидание вывода