section.section.advices.what-do-you-want
    .container
        h2.section__title.advices__title(data-aos="fade-up" data-aos-delay="100") Чего вы #[span.text-blue-light хотите?]
        .row.align-items-md-center
            .col-md-5(data-aos="fade-up" data-aos-delay="150")
                p.advices__text Не начинайте, пока не определитесь с целью. Да, все приходят в трейдинг, с целью заработать, но чтобы понимать, сколько вам нужно финансов, времени и сил, стоит четко утвердить план. Вариантов может быть несколько: можно просто вложить сбережения и хранить как инвестиции, хотите опробовать себя в деле, или всерьез заняться трейдингом и сделать это своим источником дохода. Чем четче вы определите цель и сроки ее достижения, тем проще и оперативнее сможете получить желаемое.
            .col-md-7.text-right.order-first(data-aos="fade-up" data-aos-delay="200")
                img.section__img(src="img/advices-1.png" alt="advice image")