section.section.who-we-are
  .container
    h2.section__title.who-we-are__title Кто мы?
    .row
      .col-md-8.offset-md-2
        .who-we-are__text Брокер с главным офисом в (вставить нужное). Наша деятельность регулируется (вставить нужное). Успешно повышаем инвестиции наших клиентов по всему миру с (вставить нужное) года более чем из 1000 инструментов для сотен тысяч трейдеров.