section.section.withdrawal
  .container
    h2.section__title.withdrawal__title(data-aos="fade-up" data-aos-delay="200") Выводите прибыль #[span.text-blue-light без лишних комиссий и налогов]
    .row
      .col-12
        .withdrawal__list(data-aos="fade-up" data-aos-delay="500")
          .withdrawal__item.withdrawal__item_left
            .withdrawal__item-content
              img.withdrawal__item-icon(src="./img/withdrawal-1.png" alt="withdrawal 1")
              .withdrawal__item-title Visa & Mastercard
              ul.withdrawal__item-list
                li.withdrawal__item-name Высокая комиссия
                li.withdrawal__item-name Необходимость#[br]регистрации дохода#[br]и уплаты налога
            img.withdrawal__item-decor--big(src="./img/withdrawal-decor-mob-1.png" alt="withdrawal decor 1")
            img.withdrawal__item-decor--small(src="./img/withdrawal-decor-mob-2.png" alt="withdrawal decor 2")
          .withdrawal__item.withdrawal__item_right
            .withdrawal__item-content
              img.withdrawal__item-icon(src="./img/withdrawal-2.png" alt="withdrawal 2")
              .withdrawal__item-title Advacash & Binance
              ul.withdrawal__item-list
                li.withdrawal__item-name Минимальная комиссия
                li.withdrawal__item-name Вывод без налога#[br]на прибыль
                li.withdrawal__item-name Моментальный кешбек
            img.withdrawal__item-decor--big(src="./img/withdrawal-decor-mob-3.png" alt="withdrawal decor 3")
            img.withdrawal__item-decor--small(src="./img/withdrawal-decor-mob-4.png" alt="withdrawal decor 4")
        .withdrawal__button-wrapper
          a.withdrawal__button.button.button_start(href="#" data-aos="fade-up" data-aos-delay="700") Начать